// HonkordGL library — iOS Simulator
#include "../platforms/Apple-common.xcconfig"
SDKROOT = iphonesimulator
IPHONEOS_DEPLOYMENT_TARGET = 14.0
TARGETED_DEVICE_FAMILY = 1,2
OTHER_LDFLAGS = $(inherited) -framework UIKit -framework Metal -framework QuartzCore -framework AudioToolbox -framework CoreGraphics
